{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static '/css/form.css' %}">
    <title>register</title>
  
</head>
<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">
          <!-- Tabs Titles -->
          <h2 class="active"> Sign In </h2>
          <h2 class="inactive underlineHover">Sign Up </h2>
      
          <!-- Icon -->
          <div class="fadeIn first">
           <p>register Form</p>
          </div>
      
          <!-- Login Form -->
          <form action="" method="POST">
            {% csrf_token %}
            <div class="fadeIn second">
              {{form.username.label}}<br>
              {{form.username}}<br>
              {{form.email.label}}
              {{form.email}}
            </div>
            <div class="fadeIn third">
              {{form.password1.label}}
              {{form.password1}}
              {{form.password2.label}}
              {{form.password2}}
            </div>
            
            <input type="submit" class="fadeIn fourth" value="register">
          </form>
      
          <!-- Remind Passowrd -->
          <div id="formFooter">
            {{form.errors}}
          
          </div>
      
        </div>
      </div>
</body>
</html>
