{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reset_password</title>
    <link rel="stylesheet" type="text/css" href="{% static '/css/form.css' %}">
    
</head>
<body>
 
    <div class="wrapper fadeInDown">
        <div id="formContent">
          <!-- Tabs Titles -->
          <h2 class="active"> password reset </h2>
         
      
          <!-- Icon -->
          <div class="fadeIn first">
           <p> Form</p>
          </div>
          <form method="POST">
           
          <!-- Login Form -->
            {% csrf_token %}
            {{form.email.label}}<br>
            {{form.email}}
            <input type="submit" class="fadeIn fourth" value="change password">
          </form>
      
      
        </div>
      </div>
</body>
</html>
